//basis
.card-item {
    width: 100%;
    padding: 2%;
    .item-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .card-icon {
            padding: 4%;
            border-radius: 4px;
        }
    }
}

.content-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .card-item-classes {
        @extend .card-item;
        background-color: #714dd9;
        color: #ffff;
        .item-content {
            .card-icon {
                background-color: #927cd1;
            }
        }
    }

    .card-item-students {
        @extend .card-item;
        background-color: #fcaa1a;
        color: #ffff;
        .item-content {
            .card-icon {
                background-color: #f7c877;
            }
        }
    }

    .card-item-assignments {
        @extend .card-item;
        background-color: #13b57a;
        color: #ffff;
        .item-content {
            .card-icon {
                background-color: #87b9a7;
            }
        }
    }

    .card-item-time {
        @extend .card-item;
        background-color: #e584f6;
        color: #ffff;
        .item-content {
            .card-icon {
                background-color: #eeabfc;
            }
        }
    }
}
