.preview-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 5%;

    .content-title {
        background-color: #f0f0f0;
        padding: 5px;
    }

    .content-details {
        padding: 5px;
    }

    .content-item {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        .item-details {
            width: inherit;
            display: flex;
            flex-direction: column;
        }
    }
}
