.teacher-dashboard {
    width: 100%;

    .header {
        padding: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards {
        padding: 2%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .class-card {
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
    }
}
