.mission-page-content {
    padding: 2% 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5%;

    .mission-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 3vh;

        h2 {
            text-align: center;
        }

        p {
            text-align: justify;
        }

        .content-checks {
            display: flex;
            flex-direction: column;

            .check-item {
                display: flex;
                gap: 2%;
                align-items: center;

                img {
                    width: 5vh;
                    height: 5vh;
                }
            }
        }
    }

    .mission-image {
        @extend .mission-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
